*{
}
/*----header-----*/
.d_logo{
  width: 80px;
}
.nav-link{
  color: rgba(2, 2, 2 0.4);
}
.nav-link:hover{
  color: rgba(2, 2, 2, 0.7);
}
.active{
  font-weight: bold;
  font-size: 1.1rem;
}

/*----primera imagen-----*/
.fullsize{
  /*--background-image: url("imagen/background.jpg");--*/
  background: black
}
.imgr-1{
  width: 400px;
}
